name: Docker images
permissions:
  contents: read
  packages: write
on:
  push:
    branches:
      - "main"
      - "release-*"
jobs:
  flake:
    uses: ./.github/workflows/flake.yml
    permissions:
      id-token: "write"
      contents: "read"
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
  docker:
    uses: ./.github/workflows/docker.yml
    needs: flake
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/signal-api-receiver
      username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: true
    secrets:
      password: ${{ secrets.DOCKERHUB_TOKEN }}
