name: CI
permissions:
  contents: read
  packages: write
on:
  pull_request:
    branches:
      - main
      - "release-*"
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true
jobs:
  flake:
    uses: ./.github/workflows/flake.yml
    permissions:
      id-token: "write"
      contents: "read"
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
  docker:
    uses: ./.github/workflows/docker.yml
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/signal-api-receiver
      username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: ${{ github.event.pull_request.head.repo.fork == false }}
    secrets:
      password: ${{ secrets.DOCKERHUB_TOKEN }}
