name: Releases
permissions:
  contents: read
  packages: write
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/signal-api-receiver
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: true
    secrets:
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
  release:
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Release with Notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') || contains(github.ref, 'rc') }}
          append_body: true
          body: |
            > [!Important]
            >
            > If you are enjoying signal-api-receiver, please consider showing a token of appreciation by:
            >
            > - Pressing the “Star” button on [GitHub](https://github.com/kalbasit/signal-api-receiver) (top-right).
            > - Considering a one-time or recurrent donation via [GitHub Sponsors](https://github.com/sponsors/kalbasit) or [PayPal](https://paypal.me/kalbasit).

            ## Docker Images ${{ github.ref_name }}
            The following image tags were published to [Dockerhub](https://hub.docker.com/r/kalbasit/signal-api-receiver):
            ```
            ${{ needs.build.outputs.tags }}
            ```
