name: Releases
permissions:
  contents: read
  packages: write
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  flake:
    uses: ./.github/workflows/flake.yml
    permissions:
      id-token: "write"
      contents: "read"
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
  docker:
    uses: ./.github/workflows/docker.yml
    needs: flake
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/signal-api-receiver
      username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: true
    secrets:
      password: ${{ secrets.DOCKERHUB_TOKEN }}
  release:
    runs-on: ubuntu-24.04
    needs: docker
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Release with Notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          make_latest: "true"
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') || contains(github.ref, 'rc') }}
          append_body: true
          body: |
            ## Docker Images
            The following image tags were published to [Dockerhub](https://hub.docker.com/r/kalbasit/signal-api-receiver):
            ```
            ${{ needs.docker.outputs.tags }}
            ```
